*{
    box-sizing: border-box;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100;
    height:100vH;
    background-color: #333333;
}

.row:nth-child(2n) .column:nth-child(2n){
    background-color:transparent ;
}
.row:nth-child(2n)  .column:nth-child(2n+1){
    /* background-color: #494949; */
    background-color: #333333;
}
.row:nth-child(2n+1) .column:nth-child(2n){
    /* background-color:#494949 ; */
    background-color: #333333;
}
.row:nth-child(2n+1)  .column:nth-child(2n+1){
    background-color: transparent;
}